In [2]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
sns.set()
import warnings
warnings.filterwarnings('ignore')

C:\Users\Avanthi\New folder\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [3]:
data = pd.read_csv('Bank-data.csv')
data.head()

   Index  interest_rate  credit  Gender  previous  duration Churn
0      0          1.334       0       1         0       117    no
1      1          0.767       0       0         1       274   yes
2      2          4.858       0       1         0       167    no
3      3          4.120       0       0         0       686   yes
4      4          4.856       0       1         0       159    no

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 518 entries, 0 to 517
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          518 non-null    int64
 1   interest_rate  518 non-null    float64
 2   credit         518 non-null    int64
 3   Gender         518 non-null    int64
 4   previous       518 non-null    int64
 5   duration       518 non-null    int64
 6   Churn          518 non-null    object
dtypes: float64(1), int64(5), object(1)
memory usage: 28.5+ KB

In [5]:
data['Churn']= data['Churn'].astype('category')
data['Churn']= data['Churn'].cat.codes
data.head()

   Index  interest_rate  credit  Gender  previous  duration  Churn
0      0          1.334       0       1         0       117      0
1      1          0.767       0       0         1       274      1
2      2          4.858       0       1         0       167      0
3      3          4.120       0       0         0       686      1
4      4          4.856       0       1         0       159      0

In [6]:
x = data.iloc[:,:-1]
y = data.iloc[:,-1]

In [7]:
x.head()

   Index  interest_rate  credit  Gender  previous  duration
0      0          1.334       0       1         0       117
1      1          0.767       0       0         1       274
2      2          4.858       0       1         0       167
3      3          4.120       0       0         0       686
4      4          4.856       0       1         0       159

In [8]:
y.head()

0    0
1    1
2    0
3    1
4    0
Name: Churn, dtype: int8

In [9]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=25, random_state=101, stratify=y)

In [10]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
logit = LogisticRegression()
logit.fit(x_train, y_train)
y_pred = logit.predict(x_test)
accuracy_score(y_test, y_pred)

0.88

In [17]:
# build PCA
from sklearn.decomposition import PCA
pca = PCA()
x_train_n = pca.fit_transform(x_train)
x_test_n = pca.fit_transform(x_test)

In [12]:
print(pd.DataFrame(x_train).head())
print('*********')
print(pd.DataFrame(x_train_n).head())

     Index  interest_rate  credit  Gender  previous  duration
3        3          4.120       0       0         0       686
213    213          0.878       0       0         0       256
483    483          4.962       0       0         0        42
117    117          1.313       0       1         0       728
303    303          4.965       0       0         0       257
*********
            0           1         2         3         4         5
0  293.804758  265.709249  1.145798 -0.286379 -0.047030 -0.049686
1 -129.534446   42.586136 -2.084771 -0.255915 -0.305679 -0.067533
2 -335.132760 -233.864012  2.069305 -0.191075 -0.054885  0.004723
3  339.290677  153.053336 -1.604858  0.705380 -0.121549 -0.026319
4 -125.768737  -47.338670  2.034996 -0.224358 -0.030399 -0.012368

In [20]:
explained_variance = pca.explained_variance_ratio_
explained_variance

array([7.85735814e-01, 2.14236413e-01, 2.48818872e-05, 1.85581563e-06,
       7.03821025e-07, 3.31621396e-07])

In [14]:
# first 2 vbls are more significant rest all are less significant

In [21]:
pca2 = PCA(n_components = 2)
x_train_n2 = pca2.fit_transform(x_train)
x_test_n2 = pca2.fit_transform(x_test)

In [22]:
from sklearn.linear_model import LogisticRegression
logit = LogisticRegression()
logit.fit(x_train_n2,y_train)
y_pred = logit.predict(x_test_n2)
accuracy_score(y_test,y_pred)

0.56

In [ ]:
# hyperParameters

In [23]:
from sklearn.model_selection import GridSearchCV

In [24]:
from sklearn.svm import SVC

In [ ]:
SVC(kernel = 'rbf')
param_grid = {'C':[1.0,0.1,10,100], 'gamma':[1,0.1,0.01,0.001], 'kernel': ['rbf','linear','sigmoid', 'poly']}
grid = GridSearchCV(SVC(), param_grid, refit = True)
grid.fit(x_train, y_train)
grid_predict = grid.predict(x_test)
print(accuracy_score(y_test, grid_predict))
print('Best Tuned Hyperparameter k:{}', format(grid.best_params_))

In [ ]:
from sklearn.model_selection import RandomizedSearchCV

In [ ]:
SVC(kernel = 'rbf')
param_grid = {'C':[1.0,0.1,10,100], 'gamma':[1,0.1,0.01,0.001], 'kernel': ['rbf','linear','sigmoid', 'poly']}
Rgrid = RandomizedSearchCV(SVC(), param_grid, refit = True)
Rgrid.fit(x_train, y_train)
Rgrid_predict = grid.predict(x_test)
print(accuracy_score(y_test, Rgrid_predict))
print('Best Tuned Hyperparameter k:{}', format(Rgrid.best_params_))